# Xcode
DerivedData/
build/
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# SwiftPM artifacts
*.xcodeproj/project.xcworkspace
